@page "/interval"
@layout MainLayout
@using System;

<div class="content">
    <div class="nav">
        <a href="/calendar"><button id="back"> &#10094;</button></a>
        <p id="heading">Interval</p>
        <div class="date">
            <p id="number">@Calendar_Data.runs[findIndex()].day</p>
            <button disabled id="weekday">@Calendar_Data.runs[findIndex()].weekday</button>
        </div>
        
    </div>
    <div class="intervals">
        <div class="runtimes">
            <div id="first">
                <img src="/Images/walking.png"/>
                <h4>Walk</h4>
                <p class="time">@convertTime(Calendar_Data, 1)</p>
            </div>
            <div>
                <img src="/Images/running.png"/>
                <h4>Run</h4>
                <p class="time">@convertTime(Calendar_Data, 1)</p>
            </div>
            <div>
                <img src="/Images/walking.png"/>
                <h4>Walk</h4>
                <p class="time">@convertTime(Calendar_Data, 2)</p>
            </div>
             <div>
                <img src="/Images/running.png" />
                <h4>Run</h4>
                <p class="time">
                    @convertTime(Calendar_Data, 2)
                </p>
            </div>
            <div>
                <img src="/Images/walking.png" />
                <h4>Walk</h4>
                <p class="time">@convertTime(Calendar_Data, 3)</p>
            </div>
            <div>
                <img src="/Images/running.png" />
                <h4>Run</h4>
                <p class="time">@convertTime(Calendar_Data, 3)</p>
            </div>
            <div>
                <img src="/Images/walking.png" />
                <h4>Walk</h4>
                <p class="time">@convertTime(Calendar_Data, 4)</p>
            </div>
            <div id="last">
                <img src="/Images/running.png" />
                <h4>Run</h4>
                <p>@convertTime(Calendar_Data, 4)</p>
            </div>

        </div>
        <a href="/intervalrun">
            <button id="start">
                START
            </button>
        </a>
       
    </div>

</div>

@code {
    [CascadingParameter]
    protected Calendar_Data? Calendar_Data { get; set; }

    public int findIndex() 
    {
        return Calendar_Data.runPointer;
    }

    public string convertTime(Calendar_Data calendar, int num)
    {
        double minutes;
        if(num == 1)
        {
            minutes= calendar.runs[findIndex()].interval.interval1;
        }
        else if(num == 2)
        {
            minutes = calendar.runs[findIndex()].interval.interval2;
        }
        else if(num ==3)
        {
            minutes = calendar.runs[findIndex()].interval.interval3; 
        }
        else
        {
            minutes = calendar.runs[findIndex()].interval.interval4;
        }

        TimeSpan interval = TimeSpan.FromMinutes(minutes);
        string intervalTime = interval.ToString();

        string[] minutePortion = intervalTime.Split(":");
        intervalTime = minutePortion[1][1] + ":"+ minutePortion[2];

        return intervalTime;
    }
}
