@page "/intervalrun"

<div class="content">
    <div class="nav">
        <a href="/interval"><button id="back"> &#10094;</button></a>

        <p id="heading">@currentInterval()</p>
        <div class="date">
            <p id="number">@Calendar_Data.runs[findIndex()].day</p>
            <button disabled id="weekday">@Calendar_Data.runs[findIndex()].weekday</button>
        </div>

    </div>

    <div class="belowNav">
        <div class="nextNotif">
            <p>Next Up</p>
            <h1>@nextInterval()</h1>
        </div>

        <div class="stopwatch">
            <h1>00 : 49</h1>
        </div>

        <div class="stats">
            <p id="statsHeading">OVERVIEW</p>
            <div id="distance">
               <div>
                    <h2>Distance</h2>
                    <p class="target">Target: @Calendar_Data.runs[findIndex()].distance km</p>
                </div>
                <p class="number">5</p>
                <p class="km">KM</p>
               
            </div>
            <div id="pace">
                <div>
                    <h2>Average Pace</h2>
                    <p class="target">Target: @Calendar_Data.runs[findIndex()].pace /km</p>
                </div>
                <p class="number">6:09</p>
                <p class="km">/KM</p>
                
            </div>
       
            <button id="start">START</button>
            <a href="/runcomplete"><button id="finish">FINISH</button></a>
        </div>
    </div>
 </div>


@code {
    [CascadingParameter]
    protected Calendar_Data? Calendar_Data { get; set; }

    int intervalCount = 1;

    public int findIndex()
    {
        return Calendar_Data.runPointer;
    }

    public string currentInterval()
    {
        string interval;
        if (intervalCount % 2 == 0)
        {
            interval = "Run";
        }
        else
        {
            interval = "Walk";
        }

        interval = interval + " " + intervalCount + "/8";

        return interval;
    }

    public string nextInterval()
    {
        string intervalType;
        if(intervalCount % 2 == 0)
        {
            intervalType = "WALK";   
        }
        else
        {
            intervalType = "RUN";
        }
        return intervalType;
    }

}
